* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* =====Common========== */

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    text-align: center;
    color: #fff;
    padding: 0 16px;
    min-width: 118px;
    line-height: 50px;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 25px;
    background: #171100;
}
.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

a {
    text-decoration: none;
}

/* =====Header========== */
.header-sticky {
    background: #fffcf4;
    position: sticky;
    z-index: 1;
    top: -28px;
}
.header-body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header-sticky .nav {
    margin-left: auto;
}
.nav ul {
    display: flex;
}
.nav a {
    color: #5f5b53;
    text-align: center;
    padding: 8px 21px;
    font-size: 1.6rem;
    font-weight: 400;
}
.nav a:hover,
.nav .item-action a {
    position: relative;
    color: #171100;
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
}
.nav .item-action a::after {
    position: absolute;
    display: block;
    content: "";
    width: 12px;
    height: 2px;
    left: 22px;
    bottom: 6px;
    border-radius: 1px;
    background: #171100;
}
.header-body .btn-sign-up {
    margin-left: 49px;
    width: 144px;
}
